* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: #212121;
}

@font-face {
    font-family: OpenSans;
    src: url(Fonts/Open_Sans/static/OpenSans-Medium.ttf);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 20px;
}

h1 {
    font-family:'OpenSans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
}

.new-book {
    background: white;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: -0.1em 0.1em;
    cursor: pointer;
}

.new-book:hover {
    transform: translate(0.05em, -0.05em);
    box-shadow: -0.15em 0.15em;
}

.new-book:active {
    transform: translate(-0.05em, 0.05em);
    box-shadow: -0.05em 0.05em;
}
  
.modal {
    margin-left: 40%;
    margin-top: 12%;
    border-radius: 0.4em;
}


.book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    width: 308px;
    height: 389px;
    background-color: white;
}


input[type=text], input[type=number] {
    width: 260px;
    height: 35px;
    padding-left: 5px;
    font-size: 1.2rem;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

::backdrop {
    opacity: 99%;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

}

.checkbox p {
    font-size: 1.5rem;
}